################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

MapadopetCore/obj/
MapadopetCore/bin/
.vs
*.cache
*.csproj.user
*.suo

MapadopetCore/wwwroot/js/site\.min\.js
