    <environment names="Development">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <link rel="stylesheet" href="~/css/screen.css" />
        <link rel="stylesheet" href="~/css/MarkerCluster.css" />
        <link rel="stylesheet" href="~/css/MarkerCluster.Default.css" />
        <link rel="stylesheet" href="~/css/leaflet.groupedlayercontrol.css" />
        <link rel="stylesheet" href="~/css/leaflet.contextmenu.min.css" />
        <link rel="stylesheet" href="~/css/fb.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <script src="~/js/leaflet.markercluster-src.js"></script>
        <script src="~/js/leaflet.groupedlayercontrol.js"></script>
        <script src="~/js/leaflet.contextmenu.min.js"></script>
        <script src="~/js/Util.js"></script>
        <script src="~/js/icons.js"></script>
        <script src="~/js/jsrender.min.js"></script>
        <script src="~/js/object-observe-lite.min.js"></script>
        <script src="~/js/config/modalHome.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&key=AIzaSyBukZCOlWSgvLS-s7mPA5JQcL3uD6eRq84"></script>

    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.9.1.min.js" integrity="sha256-wS9gmOZBqsqWxgIVgA8Y9WcQOa7PgSIX+rPA0VL2rbQ=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&key=AIzaSyBukZCOlWSgvLS-s7mPA5JQcL3uD6eRq84"></script>
        <script src="~/js/site.min.js"></script>
    </environment>
       
  
@section head{
<meta property="og:locale" content="pt_BR">
<meta property="og:url" content="@ViewData["ogUrl"]">
<meta property="og:title" content="Plataforma de mapas que apresenta animais de estimação (pet) perdidos, para adoção ou abandonados.">
<meta property="og:site_name" content="Mapa do Pet">
<meta property="og:description" content="O mapa do pet é uma iniciativa para ajudar os animais perdidos pelo mundo, nossa plataforma  permite aos usuários informar de forma ampla o desaparecimento do seu animal de estimação, gerando uma página com informações, fotos, contato e comentários de outros usuários que tenham visto ou que queiram deixar uma mensagem de incentivo.">
<meta property="og:image" content="@ViewData["ogImage"]">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="800"> 
<meta property="og:image:height" content="600"> 
<meta property="og:type" content="website">
<meta property="fb:app_id" content="1006198022832693">
    
}
 
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 100vh;
            width: 100vw;
        }
    </style>

<div id='ajax_loader' style="position: fixed; left: 50%; top: 50%; display: none;z-index:1;border-radius: 1rem;">
    <img src="~/images/reload.gif" />
</div>


    <div id="map" style="position:fixed;left:0px;top:50px"></div>
 
    <script type="text/javascript">

        let posUser;
        let posPin = new L.LatLng(-10.185, -48.328);

        var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v10/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1Ijoidml0dG9yIiwiYSI6ImNqMGRzc2l1MDAwazEycXVpYWg1NHpnM2YifQ.e2d9NQgefD9vl6B1lNiePA', {
            maxZoom: 18,
            attribution: 'Mapa do Pet',
            id: 'vittor.cj0dt4o6j00nv32qlx13bnn6u-1kkgx',
            accessToken: 'pk.eyJ1Ijoidml0dG9yIiwiYSI6ImNqMGRzc2l1MDAwazEycXVpYWg1NHpnM2YifQ.e2d9NQgefD9vl6B1lNiePA'
        });



        var map = new L.Map('map', {
            center: posPin, zoom: 16, layers: [tiles], contextmenu: true,
            contextmenuWidth: 200,
            contextmenuItems: [{
                text: 'Perdi Meu Pet',
                callback: menuLostPet,
                icon: varHost + '/images/contextMenuPet.png',
            }, '-', {
                text: 'Vi um Pet sozinho',
                callback: menuPetAbandonado,
                icon: varHost + '/images/contextMenuVisto.png',
            }, '-', {
                text: 'Pet para adoção',
                callback: menuPetAdocao,
                icon: varHost + '/images/contextMenuAdocao.png',
            },
                '-', {
                text: 'Centralizar',
                callback: menuCentralizar,
                icon: varHost + '/images/contextMenuCentro.png',
            }
                , {
                text: 'Zoom in',
                icon: varHost + '/images/zoom-in.png',
                callback: zoomIn
            }, {
                text: 'Zoom out',
                icon: varHost + '/images/zoom-out.png',
                callback: zoomOut
            }]
        });

        map.on('zoomend', onZoomend);

        function onZoomend() {
            var zoom = map.getZoom();
            if (zoom < 9) {
                map.removeLayer(markersPlace);
            } else {
                map.addLayer(markersPlace);
            }
        }

        var markers = new L.MarkerClusterGroup({
            spiderfyOnMaxZoom: false,
            showCoverageOnHover: false,
            maxClusterRadius: 20
        });

        var markersPlace = new L.MarkerClusterGroup({
            spiderfyOnMaxZoom: false,
            showCoverageOnHover: false,
            maxClusterRadius: 20
        });

        var markersList = [];
        var Gmap;
        var Gmarkers = [];
        //var getLoginStatus = '';
        var userObject = null;
        var objectFb = { getLoginStatus: null };
        var fbUserId = null;

        //mapas
        function showCoordinates(e) {
            alert(e.latlng);
        }

        function centerGMap(e) {
            Gmap.setCenter(e);
            Gmap.setZoom(17);
            clearGMarkers();
            addGMarker(e);
        }

        function menuLostPet(e) {

            centerGMap(e.latlng);

            var pos = (e.latlng).toString();
            pos = pos.replace('(', '');
            pos = pos.replace(')', '');
            pos = pos.replace(' ', '');
            pos = pos.replace('LatLng', '');
            $('#gmapPetPosition').val(pos);

            perdiMeuPet();
        }

        function menuPetAbandonado(e) {

            centerGMap(e.latlng);

            var pos = (e.latlng).toString();
            pos = pos.replace('(', '');
            pos = pos.replace(')', '');
            pos = pos.replace(' ', '');
            pos = pos.replace('LatLng', '');
            $('#gmapPetPosition').val(pos);

            petAbandonado();
        }

        function menuPetAdocao(e) {
            centerGMap(e.latlng);

            var pos = (e.latlng).toString();
            pos = pos.replace('(', '');
            pos = pos.replace(')', '');
            pos = pos.replace(' ', '');
            pos = pos.replace('LatLng', '');
            $('#gmapPetPosition').val(pos);

            petAdocao();
        }

        function menuCentralizar(e) {
            map.panTo(e.latlng);
        }

        function zoomIn(e) {
            map.zoomIn();
        }

        function zoomOut(e) {
            map.zoomOut();
        }

        Object.observe(objectFb, function (changes) {

            if (objectFb.getLoginStatus === 'connected') {

                FB.api('/me', {
                    fields: ['id',
                        'birthday',
                        'email',
                        'first_name',
                        'gender',
                        'hometown',
                        'languages',
                        'last_name',
                        'locale',
                        'name',
                        'relationship_status']
                }, function (response) {
                    userObject = response
                    console.log(response);
                    $(".fbUser").html(response.name)
                    $(".fbUserImg").attr("src", "http://graph.facebook.com/" + response.id + "/picture?type=normal");
                    atualizaIconUserFb(response.id)
                });

                $(".fbEntrar").hide();
                $(".fbLogado").show();
            } else {

                $(".fbEntrar").show();
                $(".fbLogado").hide();
            }
            // comentar em produção
            //console.log("Changes: ", changes);
        });


        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert('Você precisa autorizar o navegador para ser redirecionado no mapa automaticamente.');
            }
        }

        function atualizaMapa() {
            markers.clearLayers();
            markers = new L.MarkerClusterGroup();
            markersList = [];

            markersPlace.clearLayers();
            markersPlace = new L.MarkerClusterGroup();
            
            populate();
            map.addLayer(markers);
            map.addLayer(markersPlace);
        }

        function posicionarMapa(lat, Lng) {
            map.flyTo(new L.LatLng(lat, Lng), 14);
        }

        function showPosition(position) {
            var marker = L.marker(new L.LatLng(position.coords.latitude, position.coords.longitude), { title: 'Você', icon: userIcon });
            markers.addLayer(marker);
            //map.flyTo(new L.LatLng(position.coords.latitude, position.coords.longitude), 13);
        }

        function loadPet(id) {
            $.get(varHost + "/api/pet/" + id, function (data) {
                var tmpl = $.templates("#tmplmdShowPet");
                var html = tmpl.render(data);
                $("#mdShowPetContent").html(html);
                $('#mdShowPet').modal();
                //leva até o ponto
                map.flyTo(new L.LatLng(data.localizacao.split(",")[0], data.localizacao.split(",")[1], 13));
                window.history.pushState("", "", '/home/pet/' + id);
                changeFBPet(id);

                if (data.userid == $("#hiddenuserid").val() ) {
                    $(".petResponsavel").css('display', 'block');
                }
                


            });
        }

        function loadGooglePlace(id) {
            $.get(varHost + "/api/google/get/" + id, function (data) {
                var tmpl = $.templates("#tmplmdShowGooglePlace");
                var html = tmpl.render(data);
                $("#mdShowGooglePlaceContent").html(html);
                $('#mdShowGooglePlace').modal()
            });
        }

        //function populate(MapBounds) {
        function populate(MapBounds) {

            //if (typeof MapBounds == "undefined") {
                $.get(varHost + "/api/marca", function (data) {
                    let marcaPet;
                    marcaPet = data;
                    console.log(marcaPet);
                    for (var i = 0; i < marcaPet.length; i++) {
                        let markerIcon = 0;
                        switch (marcaPet[i].tipo) {
                            case 0:
                                markerIcon = petLostIcon;
                                break;
                            case 1:
                                markerIcon = petAdocaoIcon;
                                break;
                            case 2:
                                markerIcon = petAbandonadoIcon;
                                break;
                        }
                        let marker = L.marker(new L.LatLng(marcaPet[i].cord[0], marcaPet[i].cord[1]), { title: marcaPet[i].nome, icon: markerIcon });
                        marker.attribution = marcaPet[i].id;
                        marker.on('click', function (a) {
                            loadPet(this.attribution);
                        });
                        markers.addLayer(marker);
                    }
                });
            //} else {
                               

            //    $.get(varHost + "/api/marca/GetAllMarcas", { "GetBounds": MapBounds }).done(function (data) {
            //        let marcaPet;
            //        marcaPet = data;
            //        console.log(marcaPet);
            //        for (var i = 0; i < marcaPet.length; i++) {
            //            let markerIcon = 0;
            //            switch (marcaPet[i].tipo) {
            //                case 0:
            //                    markerIcon = petLostIcon;
            //                    break;
            //                case 1:
            //                    markerIcon = petAdocaoIcon;
            //                    break;
            //                case 2:
            //                    markerIcon = petAbandonadoIcon;
            //                    break;
            //            }
            //            let marker = L.marker(new L.LatLng(marcaPet[i].cord[0], marcaPet[i].cord[1]), { title: marcaPet[i].nome, icon: markerIcon });
            //            marker.attribution = marcaPet[i].id;
            //            marker.on('click', function (a) {
            //                loadPet(this.attribution);
            //            });
            //            markers.addLayer(marker);
            //        }
            //    });
            //}


            $.get(varHost + "/api/google/GetPlaces", { "lat": map.getCenter().lat, "lng": map.getCenter().lng }).done(function (data) {
                let marcaGooglePlace;
                marcaGooglePlace = data;
                for (var i = 0; i < marcaGooglePlace.length; i++) {
                    var marker = L.marker(new L.LatLng(marcaGooglePlace[i].cord[0], marcaGooglePlace[i].cord[1]), { title: marcaGooglePlace[i].name, icon: petShopIcon });
                    let place_id = marcaGooglePlace[i].place_id;
                    marker.on('click', function (a) {
                        loadGooglePlace(place_id);
                    });
                    markersPlace.addLayer(marker);
                }
            });

            return false;
        }

        function initializeGMap() {

            var GinitialPoint = new google.maps.LatLng(-10.185, -48.328);
            var GmapOptions = {
                zoom: 18,
                center: GinitialPoint,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            Gmap = new google.maps.Map(document.getElementById('Gmap-canvas'), GmapOptions);

            google.maps.event.addListener(Gmap, 'click', function (event) {
                addGMarker(event.latLng);
                saveData(Gmap, event);
            });

            addGMarker(GinitialPoint);

            google.maps.event.addDomListener(window, "resize", function () {
                var center = Gmap.getCenter();
                google.maps.event.trigger(map, "resize");
                Gmap.setCenter(center);
            });

        }

        function saveData(Gmap, event) {
            var zoomLevel = Gmap.getZoom();
            var pos = (event.latLng).toString();
            pos = pos.replace('(', '');
            pos = pos.replace(')', '');
            pos = pos.replace(' ', '');
            $('#gmapPetPosition').val(pos);
        }

        //Marca do Gmaps
        function addGMarker(location) {
            clearGMarkers();
            var Gmarker = new google.maps.Marker({
                position: location,
                map: Gmap,
                draggable: true
            });

            google.maps.event.addListener(Gmarker, 'dragend', function (event) {
                saveData(Gmap, event);
            });

            Gmarkers.push(Gmarker);
        }

        function setAllMap(Gmap) {
            for (var i = 0; i < Gmarkers.length; i++) {
                Gmarkers[i].setMap(Gmap);
            }
        }

        function clearGMarkers() {
            setAllMap(null);
        }

        function showGMarkers() {
            setAllMap(Gmap);
        }

        function deleteGMarkers() {
            clearGMarkers();
            Gmarkers = [];
            $('#gmapPetPosition').val('0,0');
        }

        //google.maps.event.addDomListener(window, 'load', initializeGMap);


        // jsAcoesdaTela
        function perdiMeuPet() {
            if (objectFb.getLoginStatus === 'connected') {
                $("#hiddenuseremail").val(userObject.email);
                $("#hiddenusername").val(userObject.name);
                $("#hiddenuserid").val(userObject.id);
                
                $("#hiddenTipoPet").val(0);
                configuraModal("inserir");
                $('#mdInsertPet').modal();
            } else if (objectFb.getLoginStatus === 'not_authorized') {
                alert('Você ainda não Autorizou o nosso Sistema !!');
            } else {
                alert('Não Conectado ao Facebook');
            }
        }

        function petAbandonado() {
            if (objectFb.getLoginStatus === 'connected') {
                $("#hiddenuseremail").val(userObject.email);
                $("#hiddenusername").val(userObject.name);
                $("#hiddenuserid").val(userObject.id);
                
                $("#hiddenTipoPet").val(2);
                configuraModal("abandonado");
                $('#mdInsertPet').modal();
            } else if (objectFb.getLoginStatus === 'not_authorized') {
                alert('Você ainda não Autorizou o nosso Sistema !!');
            } else {
                alert('Não Conectado ao Facebook');
            }
        }

        function petAdocao() {
            if (objectFb.getLoginStatus === 'connected') {
                $("#hiddenuseremail").val(userObject.email);
                $("#hiddenusername").val(userObject.name);
                $("#hiddenuserid").val(userObject.id.id);
                
                $("#hiddenTipoPet").val(1);
                configuraModal("adocao");
                $('#mdInsertPet').modal();
            } else if (objectFb.getLoginStatus === 'not_authorized') {
                alert('Você ainda não Autorizou o nosso Sistema !!');
            } else {
                alert('Não Conectado ao Facebook');
            }
        }

        function desativaPet() {
        //    $.postJSON(varHost + "/api/pet/Desativar", "{'userid':'2032005333493013','accessToken':'EAAOTIbu5gjUBAPugdZAOLafDRDcEBpeIGFZARTTsBu7XvsyTWZByxa295Q6DmzZCl47GT9th0eBZAzZA4IKWZBeOQZB4ikAjoC97WBRvHXOHKfZBEjYTmYfBHzHPqBYpCxb4s5imNpbpMbbEX0BkPXeM03HBh26Dojsfj1dyDaNpe0XeTcLafkjo9Q05GFj90HvIRzz6huImXqgZDZD',_id:'59da2abd1255db5f805a836a'}");
            //$.postJSON(varHost + "/api/pet/Desativar", JSON.stringify("userid:2032005333493013,accessToken:EAAOTIbu5gjUBAPugdZAOLafDRDcEBpeIGFZARTTsBu7XvsyTWZByxa295Q6DmzZCl47GT9th0eBZAzZA4IKWZBeOQZB4ikAjoC97WBRvHXOHKfZBEjYTmYfBHzHPqBYpCxb4s5imNpbpMbbEX0BkPXeM03HBh26Dojsfj1dyDaNpe0XeTcLafkjo9Q05GFj90HvIRzz6huImXqgZDZD,_id:59da2abd1255db5f805a836a"));
            $.postJSON(varHost + "/api/pet/Desativar", JSON.stringify($("#frmLostPet").serializeObject()));

            $.postJSON(varHost + "/api/pet", JSON.stringify($("#frmLostPet").serializeObject()));

            returnSalvaLostPet();
        }

        function salvaLostPet() {
            $.postJSON(varHost + "/api/pet", JSON.stringify($("#frmLostPet").serializeObject()));
            returnSalvaLostPet();
        }

        function salvaAbandonado() {
            $.postJSON(varHost + "/api/pet", JSON.stringify($("#frmLostPet").serializeObject()));
            returnSalvaLostPet();
        }

        function salvaAdocao() {
            $.postJSON(varHost + "/api/pet", JSON.stringify($("#frmLostPet").serializeObject()));
            returnSalvaLostPet();
        }

        function returnSalvaLostPet() {
            $('#mdInsertPet').modal('hide');
            alert('Seu pet vai ser adicionado ao mapa em instantes.');
            atualizaMapa();
            //Limpa o formulário de inserir pet
            document.getElementById("frmLostPet").reset();
            $("#upload-file-info").val("");
            $("#imgLostPetValue").val("");
            $("#upload-file-info").val("");
            $("#imgLostPet").hide();
            $("#imgLostPet").find("img").attr("src", "");
        }

        function atualizaFotoPet() {
            var form = new FormData();
            form.append("file", $("#mdLostpetFoto")[0].files[0]);
            jQuery.ajax('/api/imagem/postfotopet', {
                processData: false,
                contentType: false,
                method: "POST",
                data: form
            }).complete(function (data) {
                //seta valor no hidden
                $('#imgLostPetValue').val(data.responseText);
                $("#imgLostPet").show();
                $("#imgLostPet").find("img").attr("src", data.responseText);
            });

        };

        $(document).on('hide.bs.modal', '#mdShowPet', function () {
            window.history.pushState("", "", "/");
        });

        //Google Maps
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-272851-15', 'auto');
        ga('send', 'pageview');


        //Facebook
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=1006198022832693";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function changeFBPet(value) {
            var newVal = '<fb:comments href="http://www.mapadopet.com.br/home/pet/' + value + '" num_posts="20" width="500"></fb:comments><div id="fb-root"></div>';
            $('#comments').html(newVal);
            $('.fb-like').html('<fb:like href="http://www.mapadopet.com.br/home/pet/' + value + '"  send="true" width="450" show_faces="true"></fb:like>');
            FB.XFBML.parse();
        }

        //validar se é viavel
        function atualizaIconUserFb(userid) {
            setTimeout('', 5000);
            $("img[src$='images/userM.png']").attr("src", "http://graph.facebook.com/" + userid + "/picture?type=normal");
            $("img[src$='images/userM.png']").addClass("img-circle");

        }

        function autorizaLoginFb() {
            FB.login(function (response) {
                if (response.authResponse) {


                    //$.postJSON("api/facebook/user", response );

                    //if (response.status == "connected") {
                    //    $("#hiddenaccessToken").val(response.authResponse.accessToken);
                    //}
                    //console.log(response.status);
                    //console.log('teste');
                    console.log(response);

                } else {
                    alert('O usuário cancelou o login ou não autorizou.');
                }
                objectFb.getLoginStatus = response.status;
            });
        };

        function btnEntrar() {

            if ($("#naoMostrarInicio").prop('checked')) {
                setCookie('nmi', 1, 10);
            }

        }

        function configuraModal(nome) {

            var jsonConfig;

            switch (nome) {
                case "inserir":
                    jsonConfig = mdInserirPerdiMeuPet;

                    $("#mdInsertPetSalvar").unbind("click");
                    $("#mdInsertPetSalvar").click(salvaLostPet);

                    break;
                case "abandonado":
                    jsonConfig = mdInserirAbandonado;

                    $("#mdInsertPetSalvar").unbind("click");
                    $("#mdInsertPetSalvar").click(salvaAbandonado);
                    break;
                case "adocao":
                    jsonConfig = mdInserirAdocao;

                    $("#mdInsertPetSalvar").unbind("click");
                    $("#mdInsertPetSalvar").click(salvaAdocao);
                    break;

            }



            jQuery.each(jsonConfig.labels, function () {
                $("#" + this.n).text(this.v);
            });

            jQuery.each(jsonConfig.elementos, function () {
                if (!this.v) {
                    $("#" + this.n).css("display", "none");
                }

            });


        }

        //Inicio do loading
        $(function () {

            var sqPet = '@ViewData["sqPet"]';

            if (sqPet != '1')
                loadPet(sqPet)
            else {
                if (getCookie('nmi') != "1")
                $('#msgModal').modal();

            }


            $(document).ajaxStop(function () {
                $("#ajax_loader").hide();
            });

            $(document).ajaxStart(function () {
                $("#ajax_loader").show();
            });

            //if ($.urlParam('pet') != null) {
            //    loadPet($.urlParam('pet'));
            //} else {
            //    //se vier pelo pet não mostra
            //    if (getCookie('nmi') != "1")
            //        $('#msgModal').modal();
            //}


            populate();
            map.addLayer(markers);
            map.addLayer(markersPlace);
            getLocation();

            $("#upload-file-info").html($(this).val());

            initializeGMap();

            $('#mdInsertPet').on('shown.bs.modal', function () {
                google.maps.event.trigger(Gmap, "resize");
            });

            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1006198022832693',
                    autoLogAppEvents: true,
                    xfbml: true,
                    version: 'v2.10'
                });

                FB.AppEvents.logPageView();

                FB.getLoginStatus(function (response) {
                     if (response.status == "connected") {
                         $("#hiddenaccessToken").val(response.authResponse.accessToken);
                         $("#hiddenuserid").val(response.authResponse.userID);
                         
                    }
                    console.log(response);
                    objectFb.getLoginStatus = response.status;
                });

            };


            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                $('.mapClass').css('display', 'none');
            } 

        });

    </script>



    @*mdMensagemInicial*@
    <div class="modal fade" tabindex="-1" role="dialog" id="msgModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Mapa do Pet</h4>
                </div>
                <div class="modal-body" >
                    <div class="row" >
                        <div class="col-sm-12 col-md-4 col-lg-4">
                            <center>
                                <img src="~/images/dogEsperando.jpg" alt="Mapa do Pet" />
                            </center>
                        </div>
                        <div class="col-sm-12 col-md-8 col-lg-8 text-center"> 
                            <h1 class="display-3">
                                Bem vindo !
                            </h1>
                            <p class="lead" style="font-size:1.1em;" >
                                Vamos apresentar um mapa com os 'Pets' abandonados, perdidos ou para ado&ccedil;&atilde;o, colabore !!!
                            </p>
                            <div class="btn-group btn-group-lg" role="group" aria-label="...">
                                <button type="button" class="btn btn-primary " data-dismiss="modal" onclick="btnEntrar();">Entrar</button>
                                <button type="button" class="btn btn-primary " data-dismiss="modal">Como funciona <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
                            </div>
                            <div style="margin:5px;">
                                <input id="naoMostrarInicio" type="checkbox" aria-label="..."> não mostrar mais esta janela.
                            </div>
                            
                        </div>
                    </div>
                </div>
        @*<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Entrar</button>
        </div>*@
            </div>
        </div>
    </div>

    @*mdShowPet Modal*@
    <script id="tmplmdShowPet" type="text/x-jsrender">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mapadopet.com.br</h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    
                    {{if imagem}}
                    <img class="card-img-top img-rounded img-responsive" src="{{:imagem}}" alt="{{:nome}}">
                    {{else}}
                    <img class="card-img-top img-rounded img-responsive" src="images/petDefault.jpg" alt="{{:nome}}">
                    {{/if}}

                    <div class="card-block petResponsavel" style="display:none">

                        <div class="btn-group" style="position:relative;top:-34px;">
                            <button type="button" class="btn btn-info">Meu pet</button>
                            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Abrir</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Editar</a></li>
                                <li><a href="#">Adicionar Foto</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Encontrei o Pet</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Desativar a marcação</a></li>
                            </ul>
                        </div>

                        <h4 class="card-title">{{:tipoString}} : {{:nome}}</h4>
                        <p class="card-text">{{:descricao}}</p>
                        
                        

                        <span class="fb-like">
                            <fb:like send="true" width="450" show_faces="true"></fb:like>
                        </span>

                    </div>

                    <span id="comments">
                        <fb:comments href="http://www.mapadopet.com.br/' + value + '" num_posts="20" width="500"></fb:comments>
                    </span>
                    


                    @*<div id="disqus_thread" ></div>*@

                </div>
            </div>
        </div>
    </script>

    <div class="modal fade" tabindex="-1" role="dialog" id="mdShowPet">
        <div class="modal-dialog" role="document" id="mdShowPetContent">
            
        </div>
    </div>

    @*mdShowGooglePlace Modal*@
    <script id="tmplmdShowGooglePlace" type="text/x-jsrender">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Local Relacionado</h4>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="text-center">

                        {{if photos != null }}
                        <img class="card-img-top img-rounded img-responsive" style="width:300px" src="{{:img}}" alt="{{:name}}">
                        {{else}}
                        <img class="card-img-top img-rounded img-responsive"  src="images/petshopDefault.jpg" alt="">
                        {{/if}}

                    </div>
                    <div class="card-block">
                        <h4 class="card-title">{{:name}}</h4>
                        <p class="card-text">
                        
                            <address>{{:vicinity}}</address>

                        <span class="label label-inverse" style="z-index: -1;padding: 10px;background-color:cornflowerblue; width:100px"> 63 - 3212100 </span>
                        <span onclick="$(this).hide()" class="label label-info" style="position: relative; z-index: 100; left: -80px; padding: 10px; background-color:crimson;width:100px ">VER TELEFONE</span>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <div class="modal fade" tabindex="-1" role="dialog" id="mdShowGooglePlace">
        <div class="modal-dialog" role="document" id="mdShowGooglePlaceContent">

        </div>
    </div>

@*mdInsertPet Modal*@
<div class="modal fade" tabindex="-1" role="dialog" id="mdInsertPet">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mdNome"></h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" id="frmLostPet">
                    <input id="gmapPetPosition" name="localizacao" type="hidden">
                    <input id="hiddenuseremail" name="useremail" type="hidden">
                    <input id="hiddenusername" name="username" type="hidden">
                    <input id="hiddenuserid" name="userid" type="hidden">
                    <input id="hiddenaccessToken" name="accessToken" type="hidden">
                    <input id="hiddenTipoPet" name="tipo" type="hidden">


                    <div class="form-group" id="rowPetNome">
                        <label for="tbNome" class="col-sm-4 control-label" id="mdPetNome"></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="nome">
                            <span class="help-block" id="mdPetNomeHelp"></span>
                        </div>
                    </div>

                    <div class="form-group" id="rowPetDescricao">
                        <label for="comment" class="col-sm-4 control-label" id="mdPetDescricao"></label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="5" name="descricao"></textarea>
                            <span class="help-block" id="mdPetDescricaoHelp"></span>
                        </div>
                    </div>
                    <div class="form-group" id="rowPetTelefone">
                        <label for="tbNome" class="col-sm-4 control-label" id="mdPetTelefone"></label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="contatos">
                            <span class="help-block" id="mdPetTelefoneHelp"></span>
                        </div>
                    </div>

                    <div class="form-group" id="rowPetFoto">
                        <label for="tbNome" class="col-sm-4 control-label" id="mdPetFoto"></label>
                        <div class="col-sm-8">
                            <a class='btn btn-primary' href='javascript:;'>
                                <span id="mdPetFotoHelp"></span>
                                <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="mdLostpetFoto" id="mdLostpetFoto" size="40" onchange='$("#upload-file-info").html($(this).val().split("\\")[2]); atualizaFotoPet();'>
                            </a>
                            &nbsp;
                            <span class='label label-info' id="upload-file-info"></span>
                        </div>
                    </div>

                    <div class="form-group" id="imgLostPet">
                        <input id="imgLostPetValue" name="imagem" type="hidden">
                        <img class="card-img-top img-rounded img-responsive" src="" />
                    </div>

                    <div class="form-group mapClass" id="rowPetLocal">
                        <label for="tbNome" class="col-sm-4">Localização</label>
                        <div class="col-sm-12">
                            <input type="hidden" id="mapaLostpet" />

                            <div id="Gmap-canvas" style="width:550px;height:300px"> </div>

                            <span class="help-block">Posicione a marcação no mapa na região que o seu pet sumiu. Não coloque em cima da sua residencia, coloque a marcação nas ruas ;).</span>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="mdInsertPetSalvar">Savar</button>
            </div>
        </div>
    </div>
</div>

    


